[Unit]
Description=Argus Panoptes
After=network.target

[Service]
Type=simple
ExecStart=/opt/argus/bin/argus
WorkingDirectory=/opt/argus
Restart=on-failure
RestartSec=5
User=root
Group=root

# Logs
LogsDirectory=argus
StandardOutput=append:/var/log/argus/output.log
StandardError=append:/var/log/argus/error.log

[Install]
WantedBy=multi-user.target
