[Unit]
Description=FlowEnricher Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/flowenricher/bin/flowenricher
WorkingDirectory=/opt/flowenricher
Restart=on-failure
RestartSec=5
User=root
Group=root

# Logs
LogsDirectory=flowenricher
StandardOutput=append:/var/log/flowenricher/output.log
StandardError=append:/var/log/flowenricher/error.log

[Install]
WantedBy=multi-user.target
